@page "/bindprop"
@using Model


<h2 class="bg-light border p-2">First Room</h2>

Room: @Room.RoomName
<br />
Price: @Room.Price
<br />
<input type="number" @bind-value=@Room.Price @bind-value:event="oninput" />
<br />
<input type="checkbox" @bind-value=@Room.IsActive checked="@(Room.IsActive?"checked":null)" @bind-value:event="onchange" />  Is Active
<br />
<span>This Room is @(Room.IsActive ? "Active" : "Inactive")</span>
<br />
<select @bind="SelectRoomProp">
    @foreach (var prop in Room.RoomProp)
    {
        <option value=@prop.Name>@prop.Name</option>
    }
</select>

<span>The Room Prop selected is: @SelectRoomProp</span>

<br />
<br />
<h4 class="bg-light  p-2">Assignment 2</h4>
<table class="table table-dark">
    @foreach (var room in RoomList)
    {
        <tbody>
            <tr>
                <td>
                    <input type="text" @bind-value=@room.RoomName @bind-value:event="oninput" />
                </td>
                <td>
                    <input type="number" @bind-value=@room.Price @bind-value:event="oninput" />
                </td>

                @foreach(var roomProp in Room.RoomProp)
                {
                <td>
                    <input type="text" @bind-value=@roomProp.Name @bind-value:event="oninput" />
                </td>
                <td>
                    <input type="text" @bind-value=@roomProp.Value @bind-value:event="oninput" />
                </td>
                }
            </tr>
        </tbody>
    }
</table>
@foreach(var room in RoomList){
    <p>@room.RoomName's  Price is @room.Price </p>
}

@code {
    string SelectRoomProp = "";
    List<BlazorRoom> RoomList = new List<BlazorRoom>();
    BlazorRoom Room = new BlazorRoom()
        {
            Id = 1,
            RoomName = "Villa Suite",
            Price = 899,
            IsActive = true,
            RoomProp = new List<BlazorRoomProp>{
                new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
                new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="3"}
            }
        };
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomList.Add(new BlazorRoom()
            {
                Id = 101,
                RoomName = "Villa Suite",
                Price = 899,
                IsActive = true,
                RoomProp = new List<BlazorRoomProp>{
                new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
                new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="3"}
            }
            });

        RoomList.Add(new BlazorRoom()
            {
                Id = 201,
                RoomName = "Villa Suite Two Bed Room",
                Price = 1499,
                IsActive = true,
                RoomProp = new List<BlazorRoomProp>{
                new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="300"},
                new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="3"}
            }
            });
    }
}


